<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>View</title>
</head>
<body>

<div align="center">
    <!-- Student Details -->
    <div class="destination item">
        <div class="destination_image">
            {% if user %}
                <img src="{{ student.Image.url }}" height="10%" width="10%">
            {% elif student.Approvel %}
                <img src="{{ student.Image.url }}" height="10%" width="10%">
            {% else %}
                <img src="{{ student.Image }}" height="10%" width="10%">
            {% endif %}

        </div>
        <div class="d_content">
            <div class="destination_title">Student_ID:{{ student.Student_ID }}</div>
            <div class="destination_subtitle">Name:{{ student.Name}}</div>
            <div class="destination_price">Email:{{ student.Email }}</div>
            <div class="destination_price">School:{{ student.School }}</div>
            <div class="destination_price">Program:{{ student.Program }}</div>
            <div class="destination_price">Batch:{{ student.Batch }}</div>
        </div>
    </div>
    <p></p>
    <a href="/show/" name="submit" class="btn btn-primary">Back</a>
</div>
<p></p>
<div align="center"><a href="/logout/" class="btn btn-primary">Logout</a></div>
</body>
</html>